<% breadcrumb :root %>
<p id="notice"><%= notice %></p>


<h1>Product list</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
  <tbody>
    <% @products.each do |product| %>
      <tr>
       <td><%= link_to product.name, product_path(product) %></td>
       <td><%= attachment_image_tag product, :image, :fill, 100, 100, format: "jpg" %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>

<br>

<%= link_to 'Products Add New', new_product_path %>
